@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ropa+Sans&display=swap');


body {
    margin: 0;
    font-family: circe, sans-serif;
    font-style: normal;
    font-weight: 400;
}

h2,
h3 {
    font-family: "Ropa Sans", sans-serif;
    text-transform: uppercase;
}

a {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #000;
}

hr {
    margin: 0;
    border: none;
    border-top: 1px solid #F4F4F4;
}

.content {
    padding: 0 60px;
}

/* Banners ***********************************************/

.banner {
    width:100%;
}

/* Main Banner */

.main-b {
    height: 100px;
    padding-top: 25px
}

.main-b img {
    vertical-align: top;
}

.main-b select {
    border: none;
    font-size: 15px;
}

.logo {
    text-align: center;
    width: 50%;
    display: inline-block;
}

.side-main {
    width: 20%;
    display: inline-block;
}

.side-main-l {
    padding-left: 60px;
}

.side-main-l img {
    margin-right: 25px;
}

.side-main-r {
    padding-right: 40px;
    text-align: right;
}

.side-main-r img {
    margin-left: 25px;
}

.side-main-r select {
    margin-right: 35px;
}

/* Benefits Banner */

.benefits-b {
    height: 48px;
}

.bg-lilac {
    background-color: #EFEBFF;
}

.icon {
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

ul {
    list-style: none;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

li {
    margin-right: 45px;
}

ul li,
li img,
li p {
    display: inline;
}

/* Banners End ***********************************************/

/* Main Message */

.main-message {
    height: 536px;
}

.main-message img {
    width: 60%;
    height: 100%;
    display: inline;
}

.message {
    display: inline-block;
    width: 35%;
    height: 100%;
    vertical-align: top;
}

.message p {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Ropa Sans", sans-serif;
    font-size: 40px;
    margin: 0;
    padding-left: 20px;
    position: relative;
    top: 50%;
}

.ropa-bold {
    font-weight: 600;
}

.bolt-skincare-token {
    background-image: url("../images/main_message/bolt-skincare-token.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 600px;
    left: 55%;
}

/* Featured Products */

.featured-products {
    margin-top: 120px;
}

.featured-products h2 {
    display: inline;
}

.featured-products a {
    text-decoration: underline;
    float: right;
}

.heading {
    margin-bottom: 30px;
}

/* Cards Start ***********************************************/

.card-carousel {
    height: 437px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.card {
    background-color: #F4F4F4;
    margin-right: 40px;
    width: 278px;
    display: inline-block;
    font-size: .9em;
}

.card-img {
    width: 100%;
    height: 258px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-info {
    padding: 15px;
}

.card-button {
    background-color: #000;
    color: #fff;
    text-align: left;
    font-size: 1em;
    width: 100%;
    padding: 12px 16px;
}

.card-button span {
    float: right;
}

.filthy-clean {
    background-image: url(../images/featured_products/filthy-clean.jpg);
}

.filthy-clean:hover {
    background-image: url(../images/featured_products/filthy-clean-hover.jpg);
}

.mad-about-moisture {
    background-image: url(../images/featured_products/mad-about-moisture.jpg);
}

.mad-about-moisture:hover {
    background-image: url(../images/featured_products/mad-about-moisture-hover.jpg);
}

.glow-dont-shine {
    background-image: url(../images/featured_products/glow-dont-shine.jpg);
}

.glow-dont-shine:hover {
    background-image: url(../images/featured_products/glow-dont-shine-hover.jpg);
}

.stackable {
    background-image: url(../images/featured_products/stackable.jpg);
}

/* Cards End ***********************************************/

.pointer-right {
    font-family: "nanum gothic";
    background-color: #FFBCD8;
    color: #E06287;
    border-radius: 50%;
    font-size: 25px;
    display: inline-flex;
    height: 38px;
    width: 38px;
    padding-left: 2px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 1100px;
    left: 95%;
}
